In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Jumla,NP,29.2747,82.1838,39.20,60,0,4.38
1,1,Ribeira Grande,PT,38.5167,-28.7000,69.04,89,100,25.19
2,2,Chokurdakh,RU,70.6333,147.9167,-10.59,99,72,8.41
3,3,Mataura,NZ,-46.1927,168.8643,59.49,37,100,2.15
4,4,Torbay,CA,47.6666,-52.7314,41.58,80,75,21.85

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Avarua,CK,-21.2078,-159.7750,80.65,61,20,14.97
8,8,Bilma,NE,18.6853,12.9164,78.30,16,0,5.03
20,20,Kavieng,PG,-2.5744,150.7967,84.78,63,99,16.42
23,23,Vaini,TO,-21.2000,-175.2000,82.56,94,75,11.50
25,25,Port-Gentil,GA,-0.7193,8.7815,78.87,85,100,12.08
31,31,Meulaboh,ID,4.1363,96.1285,76.77,86,100,2.73
32,32,Hithadhoo,MV,-0.6000,73.0833,81.97,77,99,13.18
39,39,Taoudenni,ML,22.6783,-3.9836,82.31,19,6,7.67
41,41,Gouyave,GD,12.1646,-61.7296,81.37,74,20,17.27
46,46,Saint George,US,37.1041,-113.5841,76.62,26,1,1.99

In [24]:
preferred_cities_df.count()

City_ID       145
City          145
Country       145
Lat           145
Lng           145
Max Temp      145
Humidity      145
Cloudiness    145
Wind Speed    145
dtype: int64

In [25]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
7         Avarua      CK     80.65 -21.2078 -159.7750
8          Bilma      NE     78.30  18.6853   12.9164
20       Kavieng      PG     84.78  -2.5744  150.7967
23         Vaini      TO     82.56 -21.2000 -175.2000
25   Port-Gentil      GA     78.87  -0.7193    8.7815
31      Meulaboh      ID     76.77   4.1363   96.1285
32     Hithadhoo      MV     81.97  -0.6000   73.0833
39     Taoudenni      ML     82.31  22.6783   -3.9836
41       Gouyave      GD     81.37  12.1646  -61.7296
46  Saint George      US     76.62  37.1041 -113.5841

In [12]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [30]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
7         Avarua      CK     80.65 -21.2078 -159.7750
8          Bilma      NE     78.30  18.6853   12.9164
20       Kavieng      PG     84.78  -2.5744  150.7967
23         Vaini      TO     82.56 -21.2000 -175.2000
25   Port-Gentil      GA     78.87  -0.7193    8.7815
31      Meulaboh      ID     76.77   4.1363   96.1285
32     Hithadhoo      MV     81.97  -0.6000   73.0833
39     Taoudenni      ML     82.31  22.6783   -3.9836
41       Gouyave      GD     81.37  12.1646  -61.7296
46  Saint George      US     76.62  37.1041 -113.5841

In [26]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))