In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
from pylab import savefig

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Add and read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,6,Hilo,US,82.27,clear sky,19.7297,-155.0900,NaN
1,9,Rikitea,PF,75.07,light rain,-23.1203,-134.9692,NaN
2,10,Inirida,CO,72.77,broken clouds,3.8653,-67.9239,NaN
3,11,Vaini,TO,80.76,light rain,-21.2000,-175.2000,NaN
4,13,Georgetown,MY,89.55,scattered clouds,5.4112,100.3354,NaN

In [3]:
# 2) Copy or refactor the code from Steps 11a-b of Deliverable 2 to create a marker layer map of the vacation search results.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd> and <dd>{Max Temp} °F</dd>
</dl>
"""
# 3a) Retreive data from each row then add it to the formatted template and store as a list.
city_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
# 3b) Add lat and lng to new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a) Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=city_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b) Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
#  5) Choose four cities that a customer might want to visit and create a new DataFrame for each city.
vacation_start = vacation_df.loc[(vacation_df["City"]=="Ewa Beach")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="Ewa Beach")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="Makakilo City")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Ahuimanu")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="Nanakuli")]

In [6]:
print(vacation_stop3)

    City_ID      City Country  Max Temp Current Description      Lat  \
59      163  Nanakuli      US     80.55          few clouds  21.3906

         Lng  Hotel Name
59 -158.1547         NaN

In [7]:
# 6) Use the to_numpy() function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'"start":{start}, "end":{end}, "stop1":{stop1}, "stop2":{stop2},"stop3":{stop3}')

"start":(21.3156, -158.0072), "end":(21.3156, -158.0072), "stop1":(21.3469, -158.0858), "stop2":(21.4447, -157.8378),"stop3":(21.3906, -158.1547)

In [8]:
# 7) use the gmaps documentation, to create a directions layer map using the variables from Step 6, where the starting and ending city are the same city, the waypoints are the three other cities, and the travel_mode is "BICYCLING".
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode="BICYCLING")

#Save figure ( a manual screen shot)
savefig("../Vacation_Itinerary/WeatherPy_travel_map.png")

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8) Use the provided concat() function code snippet to combine the four separate city DataFrames into one DataFrame.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)

itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,319,Ewa Beach,US,80.55,few clouds,21.3156,-158.0072,NaN
1,319,Ewa Beach,US,80.55,few clouds,21.3156,-158.0072,NaN
2,293,Makakilo City,US,79.12,few clouds,21.3469,-158.0858,NaN
3,87,Ahuimanu,US,80.31,broken clouds,21.4447,-157.8378,NaN
4,163,Nanakuli,US,80.55,few clouds,21.3906,-158.1547,NaN

In [13]:
# 9) Use previous code form #2-4 to create a new marker layer map of the cities on the travel route.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd> and <dd>{Max Temp} °F</dd>
</dl>
"""

# 10a) Get the data again from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b) Get the latitude and longitude again from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             #max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b) Save figure ( a manual screen shot)
savefig("../Vacation_Itinerary/WeatherPy_travel_map_markers.png")

# 11c) Display the figure
fig

Figure(layout=FigureLayout(height='420px'))